HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# INFORMAÇÃO SENSÍVEL

informacao_sensivel.properties
/src/main/resources/Images/2675511-hd_1920_1080_24fps (1).mp4
/src/main/resources/Images/154762007.jpeg
/src/main/resources/Images/1723857423597.jpeg
/src/main/resources/Images/1726428350393.jpeg
/src/main/resources/Images/1729895415104.jpeg
/src/main/resources/css/cadastro.css
/src/main/resources/Cadastro.html
/src/main/resources/call-details.html
/src/main/resources/Images/Carlão.png
/src/main/resources/Images/Charles.mp4
/src/main/resources/Images/Charles2.png
/src/main/resources/Images/Charles2 intro.mp4
/src/main/resources/Images/Charles2-removebg-preview.png
/src/main/resources/css/dashboard.css
/src/main/resources/Images/gio.png
/src/main/resources/css/Home.css
/src/main/resources/Home.html
/src/main/resources/javascript/Home.js
/src/main/resources/Images/Imagem do WhatsApp de 2025-02-23 à(s) 17.45.38_b3ac5380.jpg
/src/main/resources/index.html
/src/main/resources/Images/Leo.png
/src/main/resources/Images/linkedin.png
/src/main/resources/css/login.css
/src/main/resources/Login.html
/src/main/resources/javascript/script.js
/src/main/resources/css/style.css
/src/main/resources/Images/supawork-image-20250227T151605292Z.png.png
/src/main/resources/css/tickets-and-transfer.css
/src/main/resources/tickets-and-transfer.html
/src/main/resources/tickets-and-transfer.js
